#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.user-perfil{
  --ion-background-color: #c0c0c0 ;
}

ion-button {  
  --background: #ffffff;
  --background-hover: #ffffff;
  --color: black;

  width: calc(100% - 20px);
  margin-top: 16px;
  border-radius: 8px;

  height: 30px;
}

#indicaciones {
  width: 100%;
  height: 40%;
  padding: 10px;
  overflow-y: auto;
  display: block;
}

#map {
  margin-top: 0;
  padding-top: 0;
  width: 375px;
  height: 820px;
  position: absolute;
}

ion-card {
  position: absolute;
  top: 45%;
  left: 4.5%;
  width: 90%;
  padding: 5px;
  margin-bottom: 3px;
  background-color: rgba(131, 131, 131, 0.418);
  border-radius: 10px;
  text-align: center;

  box-shadow: 0 2px 4px 0 rgba(150, 152, 12, 0);
  border: 2px solid #8d8a8a86; // Cambia el color según tus preferencias
  border-radius: 8px; // Ajusta según sea necesario
}

ion-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
